@model IEnumerable<IdeaWeb.Models.Idea>

@{
    ViewData["Title"] = "Ideas Home";
}

<h2>Ideas</h2>
<ul class="idea">
  @foreach (var item in Model)
  {
    <li>
      <a asp-action="Details" asp-controller="Ideas" asp-route-id="@item.Id">
        <span class="rating btn btn-default btn-sm">@item.Rating</span>
        <span class="name">@item.Name</span>
      </a>
    </li>
  }
</ul>
