@model IdeaWeb.Models.Idea

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
@if (Model.Rating.HasValue)
{
<h4>
  @for (int i = 0; i < Model.Rating; i++)
  {
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
  }
</h4>
}
<p>
  @Model.Description
</p>
<div>
  <a asp-action="Edit" asp-controller="Ideas" asp-route-id="@Model.Id" class="btn btn-primary">
    Edit
  </a>
  <a asp-action="Delete" asp-controller="Ideas" asp-route-id="@Model.Id" class="btn btn-default">
    Delete
  </a>
</div>
